* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #f0f2f5;
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}


/* Navbar */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222;
  color: white;
  padding: 15px 50px;

  .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

nav a:hover {
  color: #00adb5;
}

/* Sections */
.section {
  padding: 60px 20px;
  text-align: center;
  max-width: 900px;
  margin: auto;
  margin-bottom: 40px;
}

#home {
  max-width: 100%;
  padding: 100px 20px;
}

#skills ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

#skills li {
  background: #00adb5;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
}
/* Home */
#home {
  background: #00adb5;
  color: white;
}

button {
  padding: 10px 20px;
  border: none;
  background: #222;
  color: white;
  cursor: pointer;
  margin-top: 15px;
}

button:hover {
  background: #444;
}

/* Projects */
.project {
  margin-top: 20px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: left;
}
/* Footer */
footer {
  text-align: center;
  padding: 15px;
  background: #222;
  color: white;
}


h2 {
  position: relative;
  display: inline-block;
  font-size: 30px;
  margin-bottom: 30px;
  color: #222;
}

/* center line */
h2::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 3px;
  background: #00adb5;
  left: 50%;
  bottom: -8px;
  transform: translateX(-50%);
  transition: 0.3s;
}

/* hover animation */
h2:hover::after {
  width: 80%;
}

.card {
  background: white;
  padding: 20px;
  margin-top: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.profile-img {
  width: 200px;      /* increased */
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  border: 4px solid white;
}